#!/usr/bin/env nextflow

// ------------------------------- GENERAL CONFIG ------------------------------
// Default directories
params.vcs_dir    = '/astro/mwavcs/vcs'
params.asvo_dir   = '/astro/mwavcs/asvo'
params.module_dir = '/pawsey/mwa/software/python3/modulefiles'
workDir           = "/astro/mwavcs/${USER}/mwax_quicklook_work"

// ------------------------------- MWAX_DOWNLOAD -------------------------------
// ASVO IDs for specifying download folders
params.asvo_id_obs  = null
params.asvo_id_cal1 = null
params.asvo_id_cal2 = null

// Download folders
params.download_dir_obs  = "${params.asvo_dir}/${params.asvo_id_obs}"
params.download_dir_cal1 = "${params.asvo_dir}/${params.asvo_id_cal1}"
params.download_dir_cal2 = "${params.asvo_dir}/${params.asvo_id_cal2}"

// ------------------------------- MWAX_CALIBRATE ------------------------------
// Observation identifiers
params.obsid  = ''  // ObsID of VCS observation to calibrate
params.calids = ''  // Comma separated list of calibrator obsIDs

// Desired frequency and time resolution of calibration UVFITS
params.df = 40  // Freq. resolution in kHz
params.dt = 2   // Time resolution in seconds

// Hyperdrive inputs
params.source        = ''  // Source for calibrators
params.flagged_tiles = ''  // Comma separated list of tiles to flag

// ------------------------------- MWAX_BEAMFORM -------------------------------
params.low_chan = 109
params.duration = 600
params.startgps = "${params.obsid}"
params.psrs = ''

// ------------------------------- RESOURCE SETUP ------------------------------
process.module = 'singularity/3.7.4'
singularity {
    enabled = true
    runOptions = '--nv -B /nvmetmp'
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
}
params.container_dir = '/pawsey/mwa/singularity'

process {
    cache = 'lenient'

    withLabel: 'gpu|cpu' {
        executor = 'slurm'
        cpus = 4
        memory = 60.GB
    }
    withLabel: gpu {
        queue   = 'gpuq'
    }
    withLabel: cpu {
        queue   = 'workq'
    }
    withLabel: birli {
        cpus = 36
        memory = 370.GB
        scratch = '/nvmetmp'
        beforeScript = "module use ${params.module_dir}; module load birli"
        clusterOptions = { "--nodes=1 --cpus-per-task=${task.cpus} --tmp=440G --export=NONE" }
    }
    withLabel: hyperdrive {
        scratch = 'ram-disk'
        beforeScript = "module use ${params.module_dir}; module load hyperdrive"
        clusterOptions = { "--nodes=1 --cpus-per-task=${task.cpus} --gres=tmp:50g,gpu:1 --tmp=440G --export=NONE" }
    }
    withLabel: vcsbeam {
        cpus = 1
        memory = 370.GB
        scratch = '/nvmetmp'
        beforeScript = "module use ${params.module_dir}; module load vcsbeam"
        clusterOptions = { "--nodes=24 --cpus-per-task=${task.cpus} --ntasks-per-node=1 --gres=gpu:1 --tmp=440G --export=NONE" }
    }
    withLabel: psrsearch {
        container = "file:///${params.container_dir}/psr-analysis/psr-analysis.sif"
    }
}
