#!/usr/bin/env nextflow

def hostname = 'hostname'.execute().text.trim().replace("-", "")

if ( hostname.startsWith('garrawarla') ) {
     if ( "$USER" == 'cplee' ) {
        workDir = '/astro/mwavcs/cplee/work_dirs/mwax_quicklook_work'
        params.vcs_dir = '/astro/mwavcs/cplee/vcs_downloads'
     }
}