#!/usr/bin/env nextflow

// Directory where intermediate data products will be placed
workDir = "/scratch/mwavcs/$USER/vcs_processing_work"

params {
   // Directory containing downloaded VCS data organised by obs IDs
   vcs_dir = "/scratch/mwavcs/$USER/vcs_downloads"
   // Directory where ASVO places downloaded data
   asvo_dir = '/scratch/mwavcs/asvo'
   // Location of required modules
   module_dir = '/pawsey/mwa/software/python3/modulefiles'
   // Location of singularity
   container_dir = '/pawsey/mwa/singularity'
   // Directory containing pulsar ephemerides (takes preference over PSRCAT)
   ephemeris_dir = '/scratch/mwavcs/cplee/github/pawsey_data/meerkat_ephemerides'
   // Directory containting calibration solutions repository
   calsol_dir = '/scratch/mwavcs/cplee/github/SMART_calibration_solutions'
   // Path to jq binary
   jq = '/scratch/mwavcs/cplee/bin/jq'
   // Directory with specific source models
   models_dir = '/pawsey/mwa/software/python3/mwa-reduce/mwa-reduce-git/models'
   // Path to source catalogue
   src_catalogue = '/scratch/mwavcs/cplee/github/pawsey_data/source_lists/GGSM_updated.txt'
   // Path to conversion script
   convert_flags_script = '/scratch/mwavcs/cplee/bin/rts_flag_ant_to_tilenames.py'
}
